In [1]:
#@title Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

**Note:** This notebook can run using TensorFlow 2.5.0

In [2]:
#!pip install tensorflow==2.5.0

In [3]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
print(tf.__version__)

2.8.0

In [4]:
dataset = tf.data.Dataset.range(10)
for val in dataset:
   print(val.numpy())

0
1
2
3
4
5
6
7
8
9

In [11]:
dataset = tf.data.Dataset.range(10)
dataset = dataset.window(6, shift=1)
for window_dataset in dataset:
  for val in window_dataset:
    print(val.numpy(), end=" ")
  print()

0 1 2 3 4 5
1 2 3 4 5 6
2 3 4 5 6 7
3 4 5 6 7 8
4 5 6 7 8 9
5 6 7 8 9
6 7 8 9
7 8 9
8 9
9

In [17]:
dataset = tf.data.Dataset.range(10)
dataset = dataset.window(6, shift=1, drop_remainder=True)
for window_dataset in dataset:
  for val in window_dataset:
    print(val.numpy(), end=" ")
  print()

0 1 2 3 4 5
1 2 3 4 5 6
2 3 4 5 6 7
3 4 5 6 7 8
4 5 6 7 8 9

In [18]:
dataset = tf.data.Dataset.range(10)
dataset = dataset.window(6, shift=1, drop_remainder=True)
dataset = dataset.flat_map(lambda window: window.batch(5))
for window in dataset:
  print(window.numpy())

[0 1 2 3 4]
[5]
[1 2 3 4 5]
[6]
[2 3 4 5 6]
[7]
[3 4 5 6 7]
[8]
[4 5 6 7 8]
[9]

In [20]:
dataset = tf.data.Dataset.range(10)
dataset = dataset.window(6, shift=1, drop_remainder=True)
dataset = dataset.flat_map(lambda window: window.batch(6))
dataset = dataset.map(lambda window: (window[:-1], window[-1:]))
for x,y in dataset:
  print(x.numpy(), y.numpy())

[0 1 2 3 4] [5]
[1 2 3 4 5] [6]
[2 3 4 5 6] [7]
[3 4 5 6 7] [8]
[4 5 6 7 8] [9]

In [21]:
dataset = tf.data.Dataset.range(10)
dataset = dataset.window(6, shift=1, drop_remainder=True)
dataset = dataset.flat_map(lambda window: window.batch(6))
dataset = dataset.map(lambda window: (window[:-1], window[-1:]))
dataset = dataset.shuffle(buffer_size=10)
for x,y in dataset:
  print(x.numpy(), y.numpy())

[1 2 3 4 5] [6]
[4 5 6 7 8] [9]
[2 3 4 5 6] [7]
[3 4 5 6 7] [8]
[0 1 2 3 4] [5]

In [22]:
dataset = tf.data.Dataset.range(10)
dataset = dataset.window(6, shift=1, drop_remainder=True)
dataset = dataset.flat_map(lambda window: window.batch(6))
dataset = dataset.map(lambda window: (window[:-1], window[-1:]))
dataset = dataset.shuffle(buffer_size=10)
dataset = dataset.batch(2).prefetch(1)
for x,y in dataset:
  print("x = ", x.numpy())
  print("y = ", y.numpy())

x =  [[2 3 4 5 6]
 [4 5 6 7 8]]
y =  [[7]
 [9]]
x =  [[3 4 5 6 7]
 [1 2 3 4 5]]
y =  [[8]
 [6]]
x =  [[0 1 2 3 4]]
y =  [[5]]